.joystick {
    background-color: rgb(4, 38, 41);
    position: fixed;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 300px;

    .leftrightdiv {
        display: flex;
        justify-content: space-around;
    }

    .joystickButton {
        margin: 20px;
        background-color: black;
        padding: 10px;
        color: white;
        border-radius: 8px;
        height: 30px;
        min-width: 70px;
    }
}


.battleInitForeground {
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    opacity: 0;

    &.active {
        animation: blinkEffekt 1s ease infinite;
    }

}


@keyframes blinkEffekt {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
