.hstack {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.Listwrapper {
    width: 100%;
    height: 100vw;
}

.resetGameButton {
    position: absolute;
    top:10px;
    right: 10px;
    width: 50px;
    height: 20px;
    background-color: red;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: inset 0 0 10px white;
}


.halfContainer {
    width: 100%;

    border: 1px solid black;
    color: white;
    display: flex;
    justify-content: start;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;

    &.bottom {
        background-color: rgb(20, 23, 20);
        overflow-y: scroll;
    }

    &.top {
        background-color: rgb(13, 17, 19);
        height: auto;
    }

    h3{
        z-index: 14;
        color: white;
        width: 100%;
    }

    .catchedPokemonContaier {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .pokemonContaier {
            width: 140px;
            height: 100px;
            border-bottom: 3px solid black;
            background-color: rgb(34, 34, 34);
            position: relative;
            margin: 15px 8px;
            // padding: 10px;
            border-radius: 10px;

            p{
                font-size: .8em;
            }

            &.tp {
                width: 65px;

                img {
                    width: 70px;
                    height: 70px;
                    margin-top: 20px;
                }
            }

            .addButton {
                position: absolute;
                top: 0px;
                right: 0%;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                padding: 5px;
                background-color: green;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3em;
                box-shadow: inset 0 0 10px white;
                cursor: pointer;
            }

            .deleteButton {
                position: absolute;
                top: 0px;
                right: 0px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                padding: 5px;
                background-color: red;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3em;
                box-shadow: inset 0 0 10px white;
                cursor: pointer;
            }

            .movedownButton {
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                padding: 5px;
                background-color: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3em;
                box-shadow: inset 0 0 10px white;
                color: white;
                cursor: pointer;
            }

            img {
                width: 80px;
                height: 80px;
                margin-top: 25px;
            }

            p {
                margin-top: -5px;
            }

            .infobox {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: -10px;

                p {
                    background-color: black;
                    padding: 4px;
                    border-radius: 10px;
                    margin: 5px;
                    box-shadow: inset 0 0 10px white;
                    font-size: .8em;
                }
            }
        }

    }

}


.label {
    color: yellow;
    text-align: center;
}


.healButton {
    background-color: green;
    color: white;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 10px white;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.shopButton {
    background-color: blue;
    color: white;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 10px white;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}


.detailBtn {
    position: absolute;
    left: 40%;
    top: 3%;
    font-size: .7em;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: blue;
    color: yellow;
    box-shadow: inset 0 0 5px white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sellBtn {
    position: absolute;
    left: 5px;
    top: 80%;
    font-size: .7em;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: inset 0 0 5px yellow;
    color: yellow;
    cursor: pointer;
}

.detailCard {
    display: none;

    &.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.455);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
    }

    .contentContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;

        h2{
            width: 100%;
            color: white;
            text-align: center;
            font-size: 2em;
        }

        img{
            width: 100%;
            max-width: 200px;
            height: auto;
            background-color: rgba(255, 255, 255, 0.279);
            padding: 30px;
            border-radius: 15px;
        }

        .statsContainer {
            display: flex;
            margin-top: 5px;
            background-color: rgba(255, 255, 255, 0.279);
            border-radius: 15px;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
        }

        .move_button {
            color: white;
            background-color: rgb(52, 51, 51);
            padding: 5px;
            margin-right: 15px;
            text-align: center;
            border-radius: 8px;
            cursor: pointer;

            &.move_active {
                background-color: green;
            }
        }

        p{
            color: white;
            background-color: black;
            padding: 5px;
            margin-right: 15px;
            text-align: center;
            border-radius: 8px;
        }
    }



    .detailCloseButton {
        position: fixed;
        top: 10px;
        right: 10px;
        background-color: red;
        color: white;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}


.modal {
    display: none;


    &.active {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        z-index: 1200;
        color: white;
        flex-direction: column;
        text-align: center;
        justify-content: start;
    }

    .move_active {
        margin: 15px;
        width: 90%;
        box-shadow: inset 0 0 10px white;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}





.shop {
    display: none;

    &.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.455);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
    }

    .contentContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.861);


        .money {
            margin-top: 100px;
            color: yellow;
            font-size: 1.5em;
        }


        .miniwrapper-shop {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;

            .buttonPokeball {
                background-color: red;
                color: white;
                font-weight: bold;
                margin-right: 15px;
                width: 150px;
                height: 40px;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .amountlabel {
                background-color: gray;
                padding: 10px;
                font-weight: bold;
            }
        }


        .buybutton {
            background-color: blue;
            color: white;
            font-weight: bold;
            margin-top: 105px;
            padding: 10px;
            border-radius: 15px;
            cursor: pointer;
        }
    }


    .detailCloseButton {
        position: fixed;
        top: 10px;
        right: 10px;
        background-color: red;
        color: white;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}



.gen_option_field {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    align-items: center;

    h4 {
        color: white;
        margin-right: 20px;
    }

    .optionfield {
        height: 30px;
        font-weight: bold;
        border-radius: 5px;
        box-shadow: inset 0 0 10px black;
    }

    .refreshbutton {
        color: white;
        background-color: blue;
        border-radius: 10px;
        padding: 10px;
        margin-right: 15px;
        box-shadow: inset 0 0 10px white;
        font-size: .8em;
    }
}
