
// #########################################################################################################
//Pokedex

// a {
//     position: fixed;
//     top: 0;
//     left: 0;
//     color: white;
//     background-color: black;
//     padding: 5px;
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
// }


h1 {
    color: yellow;
    text-align: center;
    font-family: sans-serif;
    text-decoration: underline;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 0;
}

.container {
    width: 42vw;
    max-width: 300px;
    min-width: 140px;
    height: auto;
    border-radius: 30px;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 5px 3px 10px white;
    border: 2px solid gray;
}

.container img {
    width: 100%;
    margin: 0;
}


.pokedexName {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10pt;
    color: white;
    padding-bottom: 15px;
    text-align: center;
    margin: 0;
}


.greenContainer {
    background: radial-gradient(lightgreen, black);
}

.orangeContainer {
    background: radial-gradient(orange, black);
}

.blueContainer {
    background: radial-gradient(rgb(84, 187, 221), black);
}

.yellowContainer {
    background: radial-gradient(yellow, black);
}

.purpleContainer {
    background: radial-gradient(purple, black);
}

.brownContainer {
    background: radial-gradient(rgb(128, 105, 0), black);
}


.greyContainer {
    background: radial-gradient(grey, black);
}
